.button {
	background: none;
	border: 2px solid #eee;
	color: #eee;
	padding: 5px 10px 5px 10px;
	border-radius: 8px;
	font-family: GoudyRegular, sans-serif;
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
	transition: 100ms;
}

.borderless {
	border: none;
}

.borderless:hover {
	box-shadow: none;
}

.borderless:active {
	box-shadow: none;
}

.button:hover {
	box-shadow: 0 2px 0 white;
	transform: translate(0, -2px);
}

.button:active {
	transform: translate(0, 0);
	box-shadow: 0 0 0 white;
}
