.campaign-entry {
	box-sizing: border-box;
	padding: 10px;
	border: 2px solid #eee;
	border-radius: 8px;
	cursor: pointer;
	transition: 100ms;
	margin-bottom: 10px;
}

.campaign-entry:hover {
	box-shadow: 0 2px 0 white;
	transform: translate(0, -2px);
}

.campaign-entry:active {
	transform: translate(0, 0);
	box-shadow: 0 0 0 white;
}
