.input {
	margin-bottom: 20px;
	background: none;
	border: 2px solid #eee;
	border-radius: 8px;
	padding: 5px;
	font-size: 14px;
	color: #eee;
	box-sizing: border-box;
	font-family: GoudyRegular, sans-serif;
	width: 100%;
}