@font-face {
	font-family: 'GoudyRegular';
	src: url('../assets/fonts/SortsMillGoudy-Regular.ttf') format("truetype");
}

body {
	font-family: 'GoudyRegular', sans-serif;
	background: #222222;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
}

.columns {
	display: flex;
	flex-direction: row;
}

.rows {
	display: flex;
	flex-direction: column;
}
